/* reset básico */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    
}
body{
    /* fundo da pagina */
    background: #129ac7;
    background: linear-gradient(90deg,rgba(18, 154, 199, 1) 0%, rgba(56, 199, 209, 1) 47%, rgba(54, 163, 207, 1) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* caixa da calculadora */
/* gap espaçamento entre os itens */
.calculadora{
    display: flex;
    background-color: orange;
    padding: 25px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 25px 12px 33px 10px rgba(0,0,0,0.81);
    flex-direction: column;
    gap: 20px;
}
#tela{
    width: 100%;
    height: 60px;
    font-size: 28px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f4f8;
    color: #333;
    text-align: right;
    box-shadow:inset 5px 10px 22px 8px rgba(0,0,0,0.5)
    ;
}
.botoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.linha-botoes{

    display: flex;
    gap: 15px;
}
button{
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: #c78330;
    box-shadow:inset 13px 12px 37px 8px rgba(0,0,0,0.76);/* coloquei box shadow com inset para ficar dentro do botão */
    cursor: pointer;/* para adicionar como se fosse clicavel */
    transition: all 0.2s ease;/* para adicionar uma transição  */
    flex:1/* para ajustar os negocio com o tamanho da caixa */
}
button:hover{
    background-color: rgb(77, 133, 238);
    transform: translateY(-2px);/* faz os butoes ficarem animados desloca para cima  */
}
button:active{/* o activw faz com que o transform nao funcine toda hora */
    transform: scale(0.97);/*quando clicar nele ele vai transforma o tamanho nessa escala  */
}
.operador{
    background-color: rgb(47, 0, 255);
    color: white;
}
operador :hover{/* o hover faz com uma alteração quando o cursor estiver em cima da caixa celecionada */
    background-color: darkgreen;
}
.botao-limpar{
    background-color: rgb(39, 155, 39);
    color: white;
}
.botao-limpar:hover{ /* o hover faz com uma alteração quando o cursor estiver em cima da caixa celecionada */
    background-color: rgb(126, 224, 28);
}

.delete{
    background-color: rgb(39, 155, 39);
    color: white;
}

.delete:hover{ /* o hover faz com uma alteração quando o cursor estiver em cima da caixa celecionada */
    background-color: rgb(126, 224, 28);
}

.botao-zero{
    flex:2
}